/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outer-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h3 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #f7f7f7;
    color: #555;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #ffbb00;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#copybut {
    background-color: #007bff;
    color: white;
    margin-bottom: 20px;
    width: 80%;
}

#copybut:hover {
    background-color: #0056b3;
}

#passwordgen {
    background-color: #ffbb00;
    color: white;
    width: 80%;
}

#passwordgen:hover {
    background-color: #d69c00;
}

h4 {
    margin: 0;
}

button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
